<!doctype html>
<html>
  
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="sjcl.js"></script>
    <script src="scrypt.js"></script>
    <script src="FileSaver.min.js"></script>
  </head>
  
  <body ng-app="myApp" ng-controller="myCtrl">
    <div>
      <label>Passphrase:</label>
      <input type="text" ng-model="myPW" placeholder="Put in passphrase">
      <div>KDF is {{dispKDF}}</div>
      <div>ToPASS is {{toPass}}</div>
    </div>
    <div>
      Add a new one:
      <label>Label:</label>
      <input type="text" ng-model="label" placeholder="Site label">
      <label>KDF type:</label>
      <select name="kdfsel" ng-model="kdfselect">
	<option value="pbkdf2">PBKDF2</option>
	<option value="scrypt">scrypt</option>
	<!-- Add in customization of kdf -->
      </select>
      <label>Password type</label>
      <select name="pwsel" ng-model="pwselect">
	<option value="nb64">NB64</option>
      </select>
      <div>
	<label>PW Length:</label><input type="text" ng-model="pwlen">
      </div>
      <div>
	<label>Rounds:</label><input type="text" ng-model="pbkdf2n">
	<label>ProvidedSalt:</label><input type="text" ng-model="pbkdfsalt">
      </div>
      <button ng-click="genKDF(kdfselect, pwselect, pbkdfsalt, pbkdf2n)">Gimmie</button>
      <button ng-click="saveIT(kdfselect, pwselect, pbkdfsalt, pbkdf2n)">Save It!</button>
    </div>
    <div>
      You are making one for {{label}} of type {{kdfselect}}<br>
      {{derivedKDFSpec}} {{derivedtopass}} <br>
      Proposed Password is {{proposedPass}}
    </div>
    <div>
      <table>
	<tr ng-repeat="(key, value) in logins">
          <td>{{ key }}</td>
          <td>{{ value.kdf }}</td>
          <td>{{ value.topass}}</td>
          <td><button ng-click="dokdf(value.kdf, value.topass)">GetKDF</button></td>
	</tr>
      </table>
    </div>
    
    <div>
      <input type="text" ng-model="targetFile"><button ng-click="filesave(targetFile)">File Save</button> Or, copy paste:
      <div>
	{{exportForm}}
      </div>
    </div>
    <script>
     var myScript;
     function doPBKDF2(kdfspec, pw) {
       var spec = kdfspec.split(":");
       //spec is pbkdf2:rounds:salt
       return sjcl.misc.pbkdf2(sjcl.codec.utf8String.toBits(pw),
			       sjcl.codec.utf8String.toBits(spec[2]),
			       spec[1], 32*8);
     }
     function doScrypt(kdfspec, pw) {
       var spec = kdfspec.split(":");
       //spec is scrypt:salt:r:N:p
       //note that for javascript, increasing p is best bet since memory is
       //constrained.
       return myScript.crypto_scrypt(myScript.encode_utf8(pw),
				     myScript.encode_utf8(spec[1]),
				     spec[2], spec[3], spec[4], 64);
     }
     function doB64N(passspec, kdfed) {
       var spec = passspec.split(":");
       var numChars = parseInt(spec[1]);
       var b64ed = sjcl.codec.base64.fromBits(kdfed, true, true);
       return b64ed.substring(0, numChars);
       
     }
     function kdffromspec(kdfspec, inpw){
       var spec = kdfspec.split(":");
       if (spec[0] == "pbkdf2") {
         return  doPBKDF2(kdfspec, inpw);
       } else if (spec[0] == "scrypt") {
	 //We round trip via hex to get into the sjcl format.
	 return sjcl.codec.hex.toBits(myScript.to_hex
	   (doScrypt(kdfspec, inpw)));
       } else {
          return inpw + kdfspec;
       }
     }
     var app = angular.module('myApp', []);
     app.controller('myCtrl', function($scope) {
       sjcl.random.startCollectors();

       
       $scope.genKDF = function(kdfsel, pwsel, thsalt, n) {
	 var salt = thsalt;
	 var mhm = new sjcl.misc.hmac(sjcl.codec.utf8String.toBits(thsalt), sjcl.hash.sha256);
	 salt = sjcl.codec.base64.fromBits(mhm.encrypt(sjcl.random.randomWords(8, 1)), true,true);

	 $scope.derivedKDFSpec = kdfsel + ":" + n + ":" + salt;
	 var derivedKDF=kdffromspec($scope.derivedKDFSpec, $scope.myPW);
	 $scope.derivedtopass = pwsel + ":" + $scope.pwlen
	 $scope.proposedPass = doB64N($scope.derivedtopass, derivedKDF);
       }
       $scope.saveIT = function(kdfsel, pwsel, salt, n) {
	 $scope.logins[$scope.label] = {"kdf": $scope.derivedKDFSpec, "topass": $scope.derivedtopass};
	 $scope.exportForm = JSON.stringify($scope.logins);
       }
       $scope.dokdf = function(kdfspec, passspec) {
	 var derivedKDF=kdffromspec(kdfspec, $scope.myPW);
	 $scope.dispKDF = sjcl.codec.hex.fromBits(derivedKDF);
	 var pspec = passspec.split(":");
	 if(pspec[0] == "nb64") {
	   $scope.toPass = doB64N(passspec, derivedKDF);
	 } else {
	   $scope.toPass = "invalid:" + passspec;
	 }
       }
       $scope.filesave = function(filename) {
	 var blob = new Blob([$scope.exportForm], {type: "text/plain;charset=utf-8"});
	 saveAs(blob, filename);
       }
       $scope.compKDF = "not yet computed";
       //use 32MB
       scrypt_module_factory(on_ready, {requested_total_memory: 32 * 1048576 });
       $scope.pwlen=20;
       $scope.kdfselect="pbkdf2";
       $scope.pwselect="nb64";
       $scope.pbkdf2n=50000;
       $scope.logins = {
         "thelogin": {"kdf": "pbkdf2:100:saltysalt", "topass": "nb64:10"},
	 "another": {"kdf": "pbkdf2:100000:asdfasdf", "topass": "nb64:10"},
         "pbkdftestvect": {"kdf": "pbkdf2:2:salt",  "topass": "nb64:10"},
         "scryptlongeryet": {"kdf": "scrypt:SodiumChloride:16384:8:5", "topass":"nb64:10"}
       };
       $scope.exportForm = JSON.stringify($scope.logins);
       $scope.targetFile="export.json";
     });
     function on_ready(scrypt) {
       myScript=scrypt;
     }
    </script>
  </body>
  
</html>
